openapi: 3.0.1
info:
  title: Intelliflo Consolidated Public APIs
  description: Consolidated OpenAPI specification for all verified Intelliflo Public APIs, filtered to include only operations documented in the final API report.
  version: '2025-11-12'
  contact:
    name: Intelliflo API Support
    url: https://developer.intelliflo.com
servers:
  - url: https://api.intelliflo.com
    description: Production API Server
paths:
  /v2/advice/journeytypes:
    get:
      operationId: ListJourneyTypes
      summary: List journey types
      tags:
        - journeytypes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advice/journeytypes/{journeyTypeId}:
    get:
      operationId: GetJourneyType
      summary: Get journey type.
      tags:
        - journeytypes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advice/referencedata:
    get:
      operationId: ListAdviceReferenceData
      summary: Allows an API consumer to retrieve advice reference data.
      tags:
        - fundingsource
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advice/templates:
    post:
      operationId: CreateAdviceTemplate
      summary: Create advice template.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListAdviceTemplates
      summary: List advice templates
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advice/templates/{templateId}:
    delete:
      operationId: DeleteAdviceTemplate
      summary: Delete advice template.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: GetAdviceTemplate
      summary: Get advice template.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    patch:
      operationId: PatchAdviceTemplate
      summary: Patch advice template.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CloneAdviceTemplate
      summary: Clone Advice template.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advice/templates/{templateId}/steps:
    post:
      operationId: CreateAdviceTemplateStep
      summary: Create advice template step.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListAdviceTemplateSteps
      summary: List advice templates
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advice/templates/{templateId}/steps/{stepId}:
    put:
      operationId: UpdateAdviceTemplateStep
      summary: Update advice template step
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: GetAdviceTemplateStep
      summary: Get advice template step.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteAdviceTemplateStep
      summary: Delete advice template step.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advice/templates/{templateId}/steptransitions:
    get:
      operationId: ListAdviceTemplateStepTransitions
      summary: List advice template step transitions.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateAdviceTemplateStepTransition
      summary: Create Advice template step transition.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advice/templates/{templateId}/steptransitions/{stepTransitionId}:
    get:
      operationId: GetAdviceTemplateStepTransition
      summary: Get Advice template step transition.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: PutAdviceTemplateStepTransition
      summary: Put Advice template step transition.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteAdviceTemplateStepTransition
      summary: Delete Advice template step transition.
      tags:
        - advicetemplates
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/investmentPreferences:
    get:
      operationId: ListClientInvestmentPreferences
      summary: List client investment preferences
      tags:
        - clientinvestmentpreference
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateClientInvestmentPreferences
      summary: Create client investment preference
      tags:
        - clientinvestmentpreference
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/investmentPreferences/{clientInvestmentPreferenceId}:
    get:
      operationId: GetClientInvestmentPreferences
      summary: Get client investment preference.
      tags:
        - clientinvestmentpreference
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientInvestmentPreferences
      summary: Update client investment preference
      tags:
        - clientinvestmentpreference
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/objectives/{objectivesId}/InvestmentPreferences:
    get:
      operationId: GetClientInvestmentPreferenceUsingObjective
      summary: Allows an API consumer to retrieve a client investment preference for objective.
      tags:
        - clientinvestmentpreference
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientInvestmentPreferenceWithObjective
      summary: Links an investment preference to a objective.
      tags:
        - clientinvestmentpreference
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/recommendations2:
    post:
      operationId: CreateClientRecommendation
      summary: Creates a client recommendation.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListClientRecommendations
      summary: Returns a list of client recommendations.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/recommendations2/{recommendationId}:
    patch:
      operationId: PatchClientRecommendation
      summary: Allows an API consumer to update a recommendation for a given client.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: GetClientRecommendation
      summary: Gets a recommendation.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientRecommendation
      summary: Deletes a recommendation.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/recommendations2/{recommendationId}/proposals:
    post:
      operationId: CreateRecommendationProposal
      summary: Creates a recommendation proposal.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListRecommendationProposals
      summary: Lists recommendation proposals.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/recommendations2/{recommendationId}/proposals/{proposalId}:
    get:
      operationId: GetRecommendationProposal
      summary: Gets a recommendation proposal.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteRecommendationProposal
      summary: Deletes a recommendation proposal.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateRecommendationProposal
      summary: Updates a recommendation proposal.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    patch:
      operationId: PatchRecommendationProposal
      summary: Patch a recommendation proposal.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/recommendations2/{recommendationId}/proposals/{proposalId}/bankaccounts:
    post:
      operationId: CreateBankAccount
      summary: Create a back account for a given proposal and client.
      tags:
        - bankaccounts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListBankAccounts
      summary: Lists bank accounts for a given proposal and client.
      tags:
        - bankaccounts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/recommendations2/{recommendationId}/proposals/{proposalId}/bankaccounts/{bankAccountId}:
    get:
      operationId: GetBankAccount
      summary: Returns a bank account for a given proposal and client.
      tags:
        - bankaccounts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateBankAccount
      summary: Updates a recommendation proposal bankaccount.
      tags:
        - bankaccounts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteBankAccount
      summary: Deletes a bank account against a proposal.
      tags:
        - bankaccounts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/recommendations2/{recommendationId}/proposals/{proposalId}/beneficiaries:
    post:
      operationId: CreateProposalBeneficiaries
      summary: Create a beneficiaries for a given proposal and client.
      tags:
        - proposalbeneficiary
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListProposalBeneficiaries
      summary: Lists beneficiaries for a given proposal and client.
      tags:
        - proposalbeneficiary
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateProposalBeneficiaries
      summary: Updates beneficiaries for a given proposal and client.
      tags:
        - proposalbeneficiary
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/recommendations2/{recommendationId}/proposals/{proposalId}/beneficiaries/{beneficiaryId}:
    get:
      operationId: GetProposalBeneficiary
      summary: Returns a beneficiary for a given proposal and client.
      tags:
        - proposalbeneficiary
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteProposalBeneficiary
      summary: Delete a beneficiary for a given proposal and client.
      tags:
        - proposalbeneficiary
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/servicecases/{serviceCaseId}/fundingsources:
    post:
      operationId: CreateFundingSource
      summary: Allows an API consumer to create a funding source for the client in context.
      tags:
        - fundingsource
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListFundingSource
      summary: Allows an API consumer to retrieve a funding source list.
      tags:
        - fundingsource
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/servicecases/{serviceCaseId}/fundingsources/{fundingSourceId}:
    put:
      operationId: UpdateFundingSource
      summary: Allows an API consumer to update a funding source for the client in context.
      tags:
        - fundingsource
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteFundingSource
      summary: Allows an API consumer to delete a funding source for the client in context.
      tags:
        - fundingsource
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: GetFundingSource
      summary: Allows an API consumer to retrieve a single funding source.
      tags:
        - fundingsource
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/servicecases/{serviceCaseId}/InvestmentPreferences:
    get:
      operationId: GetClientInvestmentPreference
      summary: Allows an API consumer to retrieve a client investment preference for service case.
      tags:
        - investmentpreference
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientInvestmentPreference
      summary: Links a InvestmentPreference to a service case.
      tags:
        - investmentpreference
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/investmentpreferences/questions:
    get:
      operationId: ListInvestmentPreferenceQuestions
      summary: List investment preference questions
      tags:
        - investmentpreferencequestion
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateInvestmentPreferenceQuestion
      summary: Create investment preference question.
      tags:
        - investmentpreferencequestion
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/investmentpreferences/questions/{questionId}:
    get:
      operationId: GetInvestmentPreferenceQuestion
      summary: Get investment preference question.
      tags:
        - investmentpreferencequestion
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateInvestmentPreferenceQuestion
      summary: Update investment preference question
      tags:
        - investmentpreferencequestion
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/plans/{planId}/recommendations/proposals:
    get:
      operationId: ListPlanRecommendationProposals
      summary: Lists recommendation proposals.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/rebalances:
    get:
      operationId: GetRebalances
      summary: Get a list of rebalance requests for a tenant.
      tags:
        - rebalance
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateRebalance
      summary: Post a new rebalance request.
      tags:
        - rebalance
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/rebalances/{id}:
    get:
      operationId: GetRebalance
      summary: Get a rebalance request by Id.
      tags:
        - rebalance
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/rebalances/{id}/items:
    get:
      operationId: GetRebalanceItems
      summary: Get a list of rebalance request items for a tenant.
      tags:
        - rebalance
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/rebalances/settings:
    get:
      operationId: GetRebalanceSettings
      summary: Returns the default settings for rebalances.
      tags:
        - rebalance
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateRebalanceSettings
      summary: Modifies the default settings for rebalances.
      tags:
        - rebalance
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/recommendations2/categories:
    post:
      operationId: CreateTenantRecommendationCategory
      summary: Create a recommendation category document.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListTenantRecommendationCategories
      summary: Returns a paged collection of recommendation category documents.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/recommendations2/categories/{categoryId}:
    put:
      operationId: UpdateTenantRecommendationCategory
      summary: Returns a recommendation category document.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: GetTenantRecommendationCategory
      summary: Returns a recommendation category document.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteTenantRecommendationCategory
      summary: Deletes a recommendation category.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/recommendations2/subcategories:
    post:
      operationId: CreateTenantRecommendationSubCategory
      summary: Creates a recommendation subcategory.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListTenantRecommendationSubCategories
      summary: Returns a paged collection of recommendation subcategory documents.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/recommendations2/subcategories/{subCategoryId}:
    put:
      operationId: UpdateTenantRecommendationSubCategory
      summary: Returns a recommendation subcategory document.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: GetTenantRecommendationSubCategory
      summary: Returns a recommendation subcategory document.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteTenantRecommendationSubCategory
      summary: Deletes a recommendation subcategory.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/servicecases/{serviceCaseId}/recommendations:
    patch:
      operationId: PatchServiceCaseRecommendations
      summary: Updates a list of recommendation priorities for service case.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListServiceCaseRecommendations
      summary: Returns a list of service case recommendations.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/servicecases/{serviceCaseId}/recommendations/{recommendationId}:
    get:
      operationId: GetServiceCaseRecommendation
      summary: Returns a service case recommendation.
      tags:
        - recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Recommend
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos:
    get:
      operationId: ListClientVideos
      summary: Returns a list of client videos.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateClientVideo
      summary: Creates a single client video.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/{videoId}:
    get:
      operationId: GetClientVideo
      summary: Returns a given client video
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    patch:
      operationId: UpdateClientVideo
      summary: Updates a client video.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/{videoId}/analytics/webhook:
    post:
      operationId: MAPlayerWebhookURI
      summary: Posts video player analytics events for a single shared client video.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/{videoId}/player:
    get:
      operationId: MAPlayerClientVideoConfigURI
      summary: Returns player configuration
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/{videoId}/report:
    post:
      operationId: GenerateClientVideoReport
      summary: Generates a client video report
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/instances:
    get:
      operationId: ListClientVideoInstances
      summary: Returns a list of client videos.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateClientVideoInstance
      summary: Creates a single client video.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/instances/{id}:
    patch:
      operationId: UpdateClientVideoInstances
      summary: Updates a client video.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/instances/{id}/webhook:
    post:
      operationId: PlayerWebhookURI
      summary: Posts video player analytics events for a single shared client video.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/instances/{instanceId}:
    get:
      operationId: GetClientVideoInstance
      summary: Returns a given client video
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/media/videos/instances/{instanceId}/report:
    post:
      operationId: GenerateClientVideoReport1
      summary: Generates a client video report
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/media/videos/bulk/share:
    post:
      operationId: BulkShareVideosToClients
      summary: Creates a client video.
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/media/videos/bulk/shared:
    post:
      operationId: CreateBulkVideoShared
      summary: Creates a client video.
      tags:
        - bulkvideoshared
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListBulkVideoShared
      summary: Returns a list of bulk video shared.
      tags:
        - bulkvideoshared
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/media/videos/bulk/shared/{bulkVideoSharedId}:
    get:
      operationId: GetBulkVideoShared
      summary: Returns a given bulk video shared.
      tags:
        - bulkvideoshared
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/media/videos/report/callback:
    post:
      operationId: VideoReportCallbackNotificationUrl
      summary: Downloads client video report
      tags:
        - clientvideo
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/media/videos:
    get:
      operationId: ListVideos
      summary: Returns a list of videos.
      tags:
        - video
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/media/videos/{videoId}:
    get:
      operationId: GetVideo
      summary: Returns a given video.
      tags:
        - video
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/media/videos/{videoId}/player:
    get:
      operationId: MAPlayerPreviewVideoConfigURI
      summary: Returns player configuration for previewing a given video.
      tags:
        - video
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/media/videos/import:
    post:
      operationId: ProcessVideoContentZip
      summary: Importing content which creates a video record with other assets from a zip file or folder from S3 bucket.
      tags:
        - video
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/users/{userId}/media/video/subscriptions:
    get:
      operationId: GetUserProviderSubscriptions
      summary: Returns a list of video provider subscriptions
      tags:
        - video
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Content
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advisers/{adviserId}/planTypes:
    get:
      operationId: ListGatedPlanTypesByAdviserId
      summary: Returns a list of gated plan types based on adviser multi-tie configuration.
      tags:
        - advisers
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/advisers/{adviserId}/productProviders:
    get:
      operationId: ListProductProvidersByAdviserId
      summary: Returns a list of product providers based on multi-tie configuration.
      tags:
        - advisers
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/beneficiaries/clients/{clientId}:
    get:
      operationId: ListBeneficiariesForClient
      summary: List beneficiaries by Client Id.
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/beneficiaries/personalContacts/{personalContactId}:
    get:
      operationId: ListBeneficiariesForPersonalContact
      summary: List beneficiaries by Personal Contact Id.
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/assets:
    get:
      operationId: ListClientAssets
      summary: Returns a list of assets for the given client.
      tags:
        - assets
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateClientAssets
      summary: Creates the asset for a given client.
      tags:
        - assets
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/assets/{assetId}:
    get:
      operationId: GetClientAsset
      summary: Returns the asset for a given client and asset.
      tags:
        - assets
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientAsset
      summary: Updates the asset for a given client and asset.
      tags:
        - assets
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientAsset
      summary: Deletes the asset for a given client and asset.
      tags:
        - assets
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/assets/{assetId}/valuations:
    get:
      operationId: ListClientAssetValuations
      summary: Returns a list of valuations on a given client and asset.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateAssetValuations
      summary: Creates a valuation on a given client and asset.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/assets/{assetId}/valuations/{valuationId}:
    get:
      operationId: GetClientAssetValuation
      summary: Returns an association on a valuation for a given client, asset and valuation.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientAssetValuation
      summary: Updates or creates an association on a valuation for a given client, asset and valuation.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientAssetValuation
      summary: Deletes an association on a valuation for a given client, asset and valuation.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/assets/valuations/timeseries:
    get:
      operationId: GetAssetsTimeSeries
      summary: Returns an asset valuations history for a client as a time and value series.
      tags:
        - timeseries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/beneficiaries:
    get:
      operationId: ListClientBeneficiaries
      summary: "Returns a BeneficiaryCollection, which is a collection of beneficiaries for a client.\r\nDiscriminator TrustBeneficiary."
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientBeneficiaries
      summary: "Updates Beneficiary collection (add new and update existing) for a given client.\r\nDiscriminator TrustBeneficiary."
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientBeneficiaries
      summary: Deletes beneficiary or beneficiaries for a given client.
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/beneficiaries/{beneficiaryId}:
    get:
      operationId: GetClientBeneficiary
      summary: "Get beneficiary for a given client.\r\nDiscriminator TrustBeneficiary."
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/contributions:
    get:
      operationId: ListClientsContributions
      summary: Gets a collection of client contributions
      tags:
        - contributions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/financialsummarybycategory:
    get:
      operationId: GetClientFinancialSummaryByCategory
      summary: Allows an API consumer to get a client portfolio information and totals grouped by categories.
      tags:
        - financialsummarybycategory
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/holdings:
    get:
      operationId: ListClientsHoldings
      summary: Returns a list of plan's fund holdings across client plans.
      tags:
        - holdings
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans:
    get:
      operationId: ListClientPlans
      summary: Returns a list of plans for a given client.
      tags:
        - plans
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateClientPlans
      summary: Creates a plan for a given client.
      tags:
        - plans
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}:
    head:
      operationId: ExistsClientPlan
      summary: Checks a plan exists for a given client and plan.
      tags:
        - plans
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: GetClientPlan
      summary: Returns a plan for a given client and plan.
      tags:
        - plans
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreateTopupPlan
      summary: Creates a plan for a given client.
      tags:
        - plans
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientPlan
      summary: Deletes the client plan by the given client id and plan id.
      tags:
        - plans
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    patch:
      operationId: PatchClientPlan
      summary: Patch update a client plan for given client id and plan id.
      tags:
        - plans
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlan
      summary: Updates a plan for a given client.
      tags:
        - plans
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/beneficiaries:
    get:
      operationId: ListClientPlansBeneficiaries
      summary: Returns a list of beneficiaries for a given client and plan.
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlansBeneficiaries
      summary: Updates or creates the beneficiary for a given client and plan.
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientPlanBeneficiaries
      summary: Deletes beneficiary or beneficiaries for a given plan.
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/beneficiaries/{beneficiaryId}:
    get:
      operationId: GetClientPlanBeneficiary
      summary: "Get beneficiary for a given client and plan.\r\nDiscriminator PlanBeneficiary."
      tags:
        - beneficiaries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/contacts:
    post:
      operationId: CreatePlanContact
      summary: Creates a client plan contact
      tags:
        - contacts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListPlanContacts
      summary: Gets a collection of Plan's contacts
      tags:
        - contacts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/contacts/{contactId}:
    get:
      operationId: GetPlanContact
      summary: Gets a plan's contact
      tags:
        - contacts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeletePlanContact
      summary: Deletes the client plan contact by the given contact id and plan id.
      tags:
        - contacts
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/contributions:
    get:
      operationId: ListClientPlanContributions
      summary: Returns list of contributions for a given client and plan.
      tags:
        - contributions
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreatePlanContributions
      summary: Creates a contribution for a given client and plan.
      tags:
        - contributions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/contributions/{contributionId}:
    get:
      operationId: GetClientPlanContribution
      summary: Returns a contribution for a given client and plan.
      tags:
        - contributions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlanContribution
      summary: Updates a contribution for a given client and plan.
      tags:
        - contributions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientPlanContribution
      summary: Deletes a contribution for a given plan.
      tags:
        - contributions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/fundproposal:
    get:
      operationId: GetClientPlanFundproposal
      summary: Returns a fund proposals from holidings for a given client and plan.
      tags:
        - fundproposal
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlanFundproposal
      summary: Updates or creates a fund proposal for a given client and plan.
      tags:
        - fundproposal
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientPlanFundproposal
      summary: Deletes fund proposals from holdings for a given client and plan.
      tags:
        - fundproposal
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/holdings:
    get:
      operationId: ListClientPlanHoldings
      summary: Returns a list of fund holdings for a given client and plan.
      tags:
        - holdings
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreatePlanHoldings
      summary: Creates fund holdings for a given client and plan.
      tags:
        - holdings
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/holdings/{holdingId}:
    get:
      operationId: GetClientPlanHolding
      summary: Returns a fund holding for a given client, plan and holding.
      tags:
        - holdings
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlanHolding
      summary: Updates a fund holding for a given client, plan and holding.
      tags:
        - holdings
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/holdings/{holdingId}/transactions:
    get:
      operationId: ListClientPlanHoldingTransactions
      summary: Returns a list of fund holdings transactions for a given client, plan and holding.
      tags:
        - fundtransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/holdings/{holdingId}/transactions/{transactionId}:
    get:
      operationId: GetClientPlanHoldingTransaction
      summary: Returns a fund holdings transaction for a given client, plan, holding and transaction.
      tags:
        - fundtransactions
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/livesassured:
    get:
      operationId: ListClientPlansLivesAssured
      summary: Returns a list of Lives Assured for the plan.
      tags:
        - livesassured
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlansLivesAssured
      summary: Creates or updates the list of Lives Assured for the plan. A maximum of 6 lives assured can be added.
      tags:
        - livesassured
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/plantype:
    put:
      operationId: UpdatePlanType
      summary: Change plan to a new type
      tags:
        - plantype
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/purposes:
    get:
      operationId: ListClientPlansPurposes
      summary: Returns a list of purposes for a given client and plan.
      tags:
        - purposes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlansPurposes
      summary: Creates or updates the purpose for a given client and plan.
      tags:
        - purposes
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/statuses:
    post:
      operationId: CreatePlanStatuses
      summary: Creates status history for a given client and plan.
      tags:
        - statuses
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListClientPlanStatuses
      summary: Returns a list of status histories for a given client and plan.
      tags:
        - statuses
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/statuses/{planStatusId}:
    get:
      operationId: GetPlanStatus
      summary: Retrieves a specific history record
      tags:
        - statuses
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/transactions:
    get:
      operationId: ListClientPlanTransactions
      summary: Returns a list of transactions for a client plan.
      tags:
        - transactions
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: BatchCreateClientPlanTransactions
      summary: Creates a batch of transactions for a particular client and plan.
      tags:
        - transactions
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/transactions/{transactionId}:
    get:
      operationId: GetClientPlanTransaction
      summary: Gets a single transaction by id.
      tags:
        - transactions
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    head:
      operationId: ClientPlanTransactionExists
      summary: Check to see if a transaction exists.
      tags:
        - transactions
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    patch:
      operationId: UpdateClientPlanTransaction
      summary: Updates a client plan transaction.
      tags:
        - transactions
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/transactions/summarybycategory:
    get:
      operationId: ListClientPlanTransactionSummaryByCategory
      summary: Returns a summary of client plan transactions for a plan grouped by category within the specified date range.
      tags:
        - summarybycategory
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/valuations:
    get:
      operationId: ListClientPlanValuations
      summary: Returns a list of valuations for a given client and plan.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: CreatePlanValuations
      summary: Creates a valuation for a given client and plan.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/valuations/{valuationId}:
    get:
      operationId: GetClientPlanValuation
      summary: Returns a valuation on a given client, plan and valuation.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlanValuation
      summary: Updates a valuation on a given client, plan and valuation.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientPlanValuation
      summary: Deletes a valuation for a given client and plan.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/withdrawals:
    post:
      operationId: CreatePlanWithdrawals
      summary: Creates a withdrawal for a given client and plan.
      tags:
        - withdrawals
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    get:
      operationId: ListClientPlanWithdrawals
      summary: Returns a list of withdrawal for a given client and plan.
      tags:
        - withdrawals
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/{planId}/withdrawals/{withdrawalId}:
    get:
      operationId: GetClientPlanWithdrawal
      summary: Returns a withdrawal for a given client, plan and withdrawal.
      tags:
        - withdrawals
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateClientPlanWithdrawal
      summary: Updates a withdrawal for a given client, plan and withdrawal.
      tags:
        - withdrawals
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    delete:
      operationId: DeleteClientPlanWithdrawal
      summary: Deletes a withdrawal for a given client, plan and withdrawal.
      tags:
        - withdrawals
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/valuations:
    get:
      operationId: ListClientValuations
      summary: Returns a list of plan valuations for a given client.
      tags:
        - valuations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/plans/valuations/timeseries:
    get:
      operationId: GetPlansTimeSeries
      summary: Returns a plan valuations history for a client as a time and value series.
      tags:
        - timeseries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/transactions:
    get:
      operationId: ListClientTransactions
      summary: Returns a list of transactions for a client.
      tags:
        - transactions
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: BatchCreateClientTransactions
      summary: Creates a batch of transactions for different plans for a particular client.
      tags:
        - transactions
        - beta
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/transactions/summarybycategory:
    get:
      operationId: ListClientTransactionSummaryByCategory
      summary: Returns a summary of client transactions grouped by category within the specified date range.
      tags:
        - summarybycategory
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/transactions/timeseries:
    get:
      operationId: ListClientTransactionTimeSeries
      summary: Returns a transaction history for a client as a time and value series.
      tags:
        - timeseries
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/clients/{clientId}/withdrawals:
    get:
      operationId: ListClientsWithdrawals
      summary: Returns list of plan's Withdrawals
      tags:
        - withdrawals
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/deliverymethods:
    get:
      operationId: GetDeliveryMethods
      summary: Get Delivery Methods.
      tags:
        - delivery methods
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/fundbenchmarks:
    get:
      operationId: ListFundBenchmarks
      summary: Returns a list of funds benchmarks.
      tags:
        - fundbenchmarks
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/fundbenchmarks/{fundBenchmarkId}:
    get:
      operationId: GetFundBenchmark
      summary: Returns a fund benchmark by the given fundBenchmarkId.
      tags:
        - fundbenchmarks
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/fundproviders:
    get:
      operationId: ListFundproviders
      summary: Returns a list of fund providers.
      tags:
        - fundproviders
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/fundproviders/{code}:
    get:
      operationId: GetFundprovider
      summary: Returns fund providers for a given code.
      tags:
        - fundproviders
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    head:
      operationId: FundProviderExists
      summary: Check whether a fund provider exists by its code or not
      tags:
        - fundproviders
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/funds:
    get:
      operationId: ListFunds
      summary: Get a List of Fund Securities based on Security Ids.
      tags:
        - funds
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Security
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    post:
      operationId: PostFunds
      summary: Create Fund Securities.
      tags:
        - funds
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Security
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: PutFunds
      summary: Update Fund Securities.
      tags:
        - funds
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Microservice.Security
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/funds/{fundId}:
    get:
      operationId: GetFund
      summary: Returns a fund/equity for a given fundId/equityId.
      tags:
        - funds
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
    put:
      operationId: UpdateFund
      summary: Updates a non-feed fund for a given fund.
      tags:
        - funds
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/funds/{fundId}/prices:
    get:
      operationId: ListFundPrices
      summary: Returns a list of fund prices for a given fund.
      tags:
        - fundprices
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/funds/prices:
    get:
      operationId: ListFundsPrices
      summary: Returns a list of funds prices
      tags:
        - fundprices
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/fundsectors:
    get:
      operationId: ListFundsectors
      summary: Returns a list of fund sectors.
      tags:
        - fundsectors
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-intelliflo-api:
        service: Monolith.Portfolio
        source: Service Swagger
        swaggerVersion: v2
        inFinalReport: true
  /v2/fundsectors/{code}:
    get:
      operationId: GetFundsector
      summary: Returns fund sectors for a given fund code.
      tags:
        - fundsectors
      responses:
        '200':
[...]
