openapi: 3.0.1
info:
  title: Intelliflo Consolidated Public APIs (V1)
  description: Consolidated OpenAPI specification for all Intelliflo Public APIs using V1 swagger endpoints, generated from multiple service swagger definitions.
  version: 2025-11-12
  contact:
    name: Intelliflo API Support
    url: "https://developer.intelliflo.com"
servers:
  -
    url: "https://api.intelliflo.com"
    description: Production API Server
paths:
  /api/Cashflow:
    post:
      operationId: CreateCashflow
      summary: CreateCashflow operation
      description: Operation from Microservice.Cashflow
      tags:
        - cashflows
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/etlcontroller/bulk-delete:
    post:
      operationId: CreateEtlcontrollerBulk-delete
      summary: CreateEtlcontrollerBulk-delete operation
      description: Operation from Microservice.Cashflow
      tags:
        - bulk-delete
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/etlcontroller/clientExists:
    post:
      operationId: CreateEtlcontrollerClientExist
      summary: CreateEtlcontrollerClientExist operation
      description: Operation from Microservice.Cashflow
      tags:
        - clientexists
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/etlcontroller/get-client:
    get:
      operationId: GetEtlcontrollerGet-client
      summary: GetEtlcontrollerGet-client operation
      description: Operation from Microservice.Cashflow
      tags:
        - get-clients
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/etlcontroller/gld-delete:
    post:
      operationId: CreateEtlcontrollerGld-delete
      summary: CreateEtlcontrollerGld-delete operation
      description: Operation from Microservice.Cashflow
      tags:
        - gld-delete
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/etlcontroller/isModifiedByMigrationUser:
    post:
      operationId: CreateEtlcontrollersIsModifiedByMigrationUser
      summary: CreateEtlcontrollersIsModifiedByMigrationUser operation
      description: Operation from Microservice.Cashflow
      tags:
        - ismodifiedbymigrationuser
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/intelligent-office/code-authentication:
    post:
      operationId: CreateIntelligent-officeCode-authentication
      summary: CreateIntelligent-officeCode-authentication operation
      description: Operation from Microservice.Cashflow
      tags:
        - code-authentication
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/intelligent-office/import-client:
    post:
      operationId: CreateIntelligent-officeImport-client
      summary: CreateIntelligent-officeImport-client operation
      description: Operation from Microservice.Cashflow
      tags:
        - import-client
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/intelligent-office/importable-plans:
    post:
      operationId: CreateIntelligent-officeImportable-plan
      summary: CreateIntelligent-officeImportable-plan operation
      description: Operation from Microservice.Cashflow
      tags:
        - importable-plans
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/intelligent-office/initiate:
    post:
      operationId: CreateIntelligent-officeInitiate
      summary: CreateIntelligent-officeInitiate operation
      description: Operation from Microservice.Cashflow
      tags:
        - initiate
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/intelligent-office/redirect-url:
    get:
      operationId: GetIntelligent-officeRedirect-url
      summary: GetIntelligent-officeRedirect-url operation
      description: Operation from Microservice.Cashflow
      tags:
        - redirect-urls
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/intelligent-office/refresh-token:
    post:
      operationId: Refresh-tokenIntelligent-office
      summary: Refresh-tokenIntelligent-office operation
      description: Operation from Microservice.Cashflow
      tags:
        - refresh-token
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /api/salesforce-sso/login:
    get:
      operationId: GetSalesforce-ssoLogin
      summary: GetSalesforce-ssoLogin operation
      description: Operation from Microservice.Cashflow
      tags:
        - login
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Cashflow
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Cashflow)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts:
    get:
      operationId: GetV1Account
      summary: GetV1Account operation
      description: Operation from Microservice.Membership
      tags:
        - accountsecurity
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts/recovery/forgotpassword:
    get:
      operationId: GetV1AccountRecoveryForgotpassword
      summary: GetV1AccountRecoveryForgotpassword operation
      description: Operation from Microservice.Membership
      tags:
        - accountrecovery
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts/recovery/forgotpassword/confirmation:
    get:
      operationId: GetV1AccountRecoveryForgotpasswordConfirmation
      summary: GetV1AccountRecoveryForgotpasswordConfirmation operation
      description: Operation from Microservice.Membership
      tags:
        - accountrecovery
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts/recovery/forgotpassword/emailrecovery:
    post:
      operationId: CreateV1AccountsRecoveryForgotpasswordEmailrecovery
      summary: CreateV1AccountsRecoveryForgotpasswordEmailrecovery operation
      description: Operation from Microservice.Membership
      tags:
        - accountrecovery
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts/recovery/forgotusername:
    post:
      operationId: CreateV1AccountsRecoveryForgotusername
      summary: CreateV1AccountsRecoveryForgotusername operation
      description: Operation from Microservice.Membership
      tags:
        - accountrecovery
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetV1AccountRecoveryForgotusername
      summary: GetV1AccountRecoveryForgotusername operation
      description: Operation from Microservice.Membership
      tags:
        - accountrecovery
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts/recovery/forgotusername/confirmation:
    get:
      operationId: GetV1AccountRecoveryForgotusernameConfirmation
      summary: GetV1AccountRecoveryForgotusernameConfirmation operation
      description: Operation from Microservice.Membership
      tags:
        - accountrecovery
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts/recovery/verify_identity_questions:
    post:
      operationId: CreateV1AccountsRecoveryVerifyIdentityQuestion
      summary: CreateV1AccountsRecoveryVerifyIdentityQuestion operation
      description: Operation from Microservice.Membership
      tags:
        - accountrecovery
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts/recovery/{recoveryCode}:
    get:
      operationId: GetRecovery
      summary: GetRecovery operation
      description: Operation from Microservice.Membership
      tags:
        - accountrecovery
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/accounts/security/changepassword:
    post:
      operationId: CreateV1AccountsSecurityChangepassword
      summary: CreateV1AccountsSecurityChangepassword operation
      description: Operation from Microservice.Membership
      tags:
        - accountsecurity
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetV1AccountsSecurityChangepassword
      summary: Redirects back to change password after token expired on Post UpdatePassword
      description: Redirects back to change password after token expired on Post UpdatePassword
      tags:
        - accountsecurity
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/external_accounts:
    post:
      operationId: CreateV1ExternalAccount
      summary: CreateV1ExternalAccount operation
      description: Operation from Microservice.Membership
      tags:
        - externalaccounts
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: ListV1ExternalAccounts
      summary: ListV1ExternalAccounts operation
      description: Operation from Microservice.Membership
      tags:
        - externalaccounts
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/external_accounts/{externalAccountId}:
    put:
      operationId: UpdateExternalAccount
      summary: UpdateExternalAccount operation
      description: Operation from Microservice.Membership
      tags:
        - externalaccounts
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/registrations/pfp:
    post:
      operationId: CreateV1RegistrationsPfp
      summary: CreateV1RegistrationsPfp operation
      description: Operation from Microservice.Membership
      tags:
        - pfp
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/registrations/pfp/registration_expired:
    get:
      operationId: GetV1RegistrationsPfpRegistrationExpired
      summary: GetV1RegistrationsPfpRegistrationExpired operation
      description: Operation from Microservice.Membership
      tags:
        - pfp
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/registrations/pfp/verify_identity_questions:
    post:
      operationId: CreateV1RegistrationsPfpVerifyIdentityQuestion
      summary: CreateV1RegistrationsPfpVerifyIdentityQuestion operation
      description: Operation from Microservice.Membership
      tags:
        - pfp
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetV1RegistrationsPfpVerifyIdentityQuestions
      summary: GetV1RegistrationsPfpVerifyIdentityQuestions operation
      description: Operation from Microservice.Membership
      tags:
        - pfp
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/registrations/pfp/{token}:
    get:
      operationId: GetPfp
      summary: GetPfp operation
      description: Operation from Microservice.Membership
      tags:
        - pfp
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /membership/v1/registrations/pfp/{token}/verify_email:
    post:
      operationId: CreatePfpVerifyEmail
      summary: CreatePfpVerifyEmail operation
      description: Operation from Microservice.Membership
      tags:
        - pfp
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.Membership
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Membership)
        scopes: []
        swaggerVersion: v1
  /v1/assettypes:
    get:
      operationId: ListAssetTypesV1
      summary: Get all of the asset types.
      description: Get all of the asset types.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/assettypes/{assetTypeId}:
    get:
      operationId: GetAssetTypeV1
      summary: Return the specified asset type by id.
      description: Return the specified asset type by id.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
    head:
      operationId: GetAssetTypeV12
      summary: Return the specified asset type by id.
      description: Return the specified asset type by id.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/batch/installed_apps:
    get:
      operationId: GetAppsInstalled
      summary: Returns the list of applications by each tenant and each user
      description: Returns the list of applications by each tenant and each user
      tags:
        - batch
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.AppD
        onDeveloperPortal: false
        source: Service Swagger (Microservice.AppD)
        scopes: []
        swaggerVersion: v1
  /v1/brands:
    get:
      operationId: ListBrands
      summary: Get brand for either current user or non-authenticated one.
      description: Get brand for either current user or non-authenticated one.
      tags:
        - brand
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.Brand
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Brand)
        scopes: []
        swaggerVersion: v1
  /v1/campaigndata:
    get:
      operationId: ListCampaigndata
      summary: ListCampaigndata operation
      description: Operation from Monolith.Crm
      tags:
        - campaigndata
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.Crm
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Crm)
        scopes: []
        swaggerVersion: v1
  /v1/campaignemails/sendbulk:
    post:
      operationId: SendbulkCampaignemails
      summary: Send bulk templated email
      description: Send bulk templated email
      tags:
        - sendbulk
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns:
    post:
      operationId: CreateCampaign
      summary: Creates campaign details
      description: Creates campaign details
      tags:
        - campaigns
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: ListCampaigns
      summary: Get all campaign templates for the given tenant
      description: Get all campaign templates for the given tenant
      tags:
        - campaigns
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}:
    delete:
      operationId: DeleteCampaign
      summary: Deletes the specified campaign
      description: Deletes the specified campaign
      tags:
        - campaigns
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetCampaign
      summary: Get campaign details
      description: Get campaign details
      tags:
        - campaigns
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    patch:
      operationId: PatchCampaign
      summary: Updates campaign details
      description: Updates campaign details
      tags:
        - campaigns
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/content:
    get:
      operationId: GetCampaignContent
      summary: Get campaign details
      description: Get campaign details
      tags:
        - content
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    patch:
      operationId: PatchCampaignContent
      summary: Updates campaign details
      description: Updates campaign details
      tags:
        - content
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/execute:
    post:
      operationId: CreateCampaignExecute
      summary: Initiate a specified campaign
      description: Initiate a specified campaign
      tags:
        - execute
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/recipients:
    post:
      operationId: CreateCampaignsRecipient
      summary: CreateCampaignsRecipient operation
      description: 
      tags:
        - recipients
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: ListCampaignRecipients
      summary: ListCampaignRecipients operation
      description: 
      tags:
        - recipients
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    patch:
      operationId: ListCampaignsRecipients
      summary: ListCampaignsRecipients operation
      description: 
      tags:
        - recipients
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/recipients/{recipientId}:
    delete:
      operationId: DeleteCampaignRecipient
      summary: Deletes the specified campaign recipient
      description: Deletes the specified campaign recipient
      tags:
        - recipients
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetCampaignRecipient
      summary: Retrieve details for a specified campaign recipient
      description: Retrieve details for a specified campaign recipient
      tags:
        - recipients
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/report:
    get:
      operationId: GetCampaignReport
      summary: Get campaign report
      description: Get campaign report
      tags:
        - report
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/segments:
    get:
      operationId: GetCampaignSegment
      summary: GetCampaignSegment operation
      description: 
      tags:
        - segments
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    put:
      operationId: UpdateCampaignSegments
      summary: UpdateCampaignSegments operation
      description: 
      tags:
        - segments
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/segments/apply:
    post:
      operationId: CreateCampaignSegmentsApply
      summary: CreateCampaignSegmentsApply operation
      description: 
      tags:
        - apply
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/sendtestemail:
    post:
      operationId: SendtestemailCampaigns
      summary: Send a test email for the specified template
      description: Send a test email for the specified template
      tags:
        - sendtestemail
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigns/{campaignId}/{status}:
    put:
      operationId: UpdateCampaignCampaignId
      summary: Update campaign status
      description: Update campaign status
      tags:
        - campaignids
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigntemplates:
    post:
      operationId: CreateCampaigntemplate
      summary: Create a campaign template
      description: Create a campaign template
      tags:
        - campaigntemplates
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: ListCampaigntemplates
      summary: ListCampaigntemplates operation
      description: 
      tags:
        - campaigntemplates
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigntemplates/{templateId}:
    delete:
      operationId: DeleteCampaigntemplate
      summary: Deletes a campaign template
      description: Deletes a campaign template
      tags:
        - campaigntemplates
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    head:
      operationId: ExistsCampaigntemplate
      summary: ExistsCampaigntemplate operation
      description: 
      tags:
        - campaigntemplates
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetCampaigntemplate
      summary: GetCampaigntemplate operation
      description: 
      tags:
        - campaigntemplates
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    patch:
      operationId: PatchCampaigntemplate
      summary: Updates a campaign template
      description: Updates a campaign template
      tags:
        - campaigntemplates
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigntemplates/{templateId}/archive:
    post:
      operationId: CreateCampaigntemplateArchive
      summary: CreateCampaigntemplateArchive operation
      description: 
      tags:
        - archive
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigntemplates/{templateId}/content:
    get:
      operationId: GetCampaigntemplateContent
      summary: GetCampaigntemplateContent operation
      description: 
      tags:
        - content
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    patch:
      operationId: PatchCampaigntemplateContent
      summary: Updates a campaign template
      description: Updates a campaign template
      tags:
        - content
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/campaigntemplates/{templateId}/sendtestemail:
    post:
      operationId: SendtestemailCampaigntemplates
      summary: Send a test email for the specified template
      description: Send a test email for the specified template
      tags:
        - sendtestemail
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/categories:
    post:
      operationId: CreateCategory
      summary: Create a template category
      description: Create a template category
      tags:
        - categories
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.Author
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Author)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: ListCategories
      summary: List template categories
      description: List template categories
      tags:
        - categories
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.Author
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Author)
        scopes: []
        swaggerVersion: v1
  /v1/categories/{categoryId}:
    delete:
      operationId: DeleteCategory
      summary: Delete a template category
      description: Delete a template category
      tags:
        - categories
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.Author
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Author)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetCategory
      summary: Get a specified category
      description: Get a specified category
      tags:
        - categories
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.Author
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Author)
        scopes: []
        swaggerVersion: v1
    patch:
      operationId: PatchCategory
      summary: Update a template category
      description: Update a template category
      tags:
        - categories
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.Author
        onDeveloperPortal: false
        source: Service Swagger (Microservice.Author)
        scopes: []
        swaggerVersion: v1
  /v1/claims/party/{partyId}:
    get:
      operationId: ListParties
      summary: Gets the User Info for specified user by party Id.
      description: Gets the User Info for specified user by party Id.
      tags:
        - claims
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.Crm
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Crm)
        scopes: []
        swaggerVersion: v1
  /v1/claims/subject/{subject}:
    get:
      operationId: ListSubjects
      summary: Gets the User Info for specified user by subject.
      description: Gets the User Info for specified user by subject.
      tags:
        - claims
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.Crm
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Crm)
        scopes: []
        swaggerVersion: v1
  /v1/claims/tenant/{id}:
    get:
      operationId: ListTenants
      summary: Gets the tenant info
      description: Gets the tenant info
      tags:
        - claims
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.Crm
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Crm)
        scopes: []
        swaggerVersion: v1
  /v1/client/{partyId}/changes:
    post:
      operationId: CreateClientChange
      summary: Creates a change log entry for the client.
      description: Creates a change log entry for the client.
      tags:
        - changes
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.ChangeNotification
        onDeveloperPortal: false
        source: Service Swagger (Microservice.ChangeNotification)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: ListClientChanges
      summary: Return a paged collection of changes.
      description: Return a paged collection of changes.
      tags:
        - changes
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.ChangeNotification
        onDeveloperPortal: false
        source: Service Swagger (Microservice.ChangeNotification)
        scopes: []
        swaggerVersion: v1
  /v1/client/{partyId}/changes/{eventId}:
    head:
      operationId: ExistsClientChange
      summary: Get the specified event.
      description: Get the specified event.
      tags:
        - changes
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.ChangeNotification
        onDeveloperPortal: false
        source: Service Swagger (Microservice.ChangeNotification)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetClientChange
      summary: Get the specified event.
      description: Get the specified event.
      tags:
        - changes
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Microservice.ChangeNotification
        onDeveloperPortal: false
        source: Service Swagger (Microservice.ChangeNotification)
        scopes: []
        swaggerVersion: v1
  /v1/clients/contacts/search:
    post:
      operationId: CreateClientsContactsSearch
      summary: CreateClientsContactsSearch operation
      description: Operation from Monolith.Crm
      tags:
        - search
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Crm
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Crm)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/expensecategories:
    get:
      operationId: ListClientsExpensecategories
      summary: Gets all Expense Categories.
      description: Gets all Expense Categories.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/expensecategories/{expenseCategoryId}:
    head:
      operationId: ExistsExpensecategory
      summary: Gets an Expense Category if any, for the specified Expense Category Id.
      description: Gets an Expense Category if any, for the specified Expense Category Id.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: GetExpensecategory
      summary: Gets an Expense Category if any, for the specified Expense Category Id.
      description: Gets an Expense Category if any, for the specified Expense Category Id.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/expensegroups:
    get:
      operationId: ListClientsExpensegroups
      summary: Gets all Expense Groups.
      description: Gets all Expense Groups.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/expensegroups/{expenseGroupId}:
    head:
      operationId: ExistsExpensegroup
      summary: Gets an Expense Group if any, for the specified Expense Group Id.
      description: Gets an Expense Group if any, for the specified Expense Group Id.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: GetExpensegroup
      summary: Gets an Expense Group if any, for the specified Expense Group Id.
      description: Gets an Expense Group if any, for the specified Expense Group Id.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/search:
    post:
      operationId: CreateClientsSearch
      summary: Searchs clients using  filters and ordering specified in request
      description: Searchs clients using  filters and ordering specified in request
      tags:
        - search
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Crm
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Crm)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/adviceareas:
    get:
      operationId: GetClientAdviceareas
      summary: Get the advice areas for the specified user
      description: Get the advice areas for the specified user
      tags:
        - factfind
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes: []
        swaggerVersion: v1
    put:
      operationId: UpdateClientAdviceareas
      summary: Update AdviceAreas for the given clientId, Create one with the given info in the request when doesn't exist
      description: Update AdviceAreas for the given clientId, Create one with the given info in the request when doesn't exist
      tags:
        - factfind
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/assets:
    post:
      operationId: CreateClientAssetV1
      summary: Create a new Asset.
      description: Create a new Asset.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: ListClientAssetsV1
      summary: Get all assets for the specified client.
      description: Get all assets for the specified client.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/assets/valuations:
    get:
      operationId: GetClientAssetValuationsV1
      summary: "Get all assets for the specified client.
TODO: Move this to SummaryController, and have GetAssetSummary endpoint"
      description: "Get all assets for the specified client.
TODO: Move this to SummaryController, and have GetAssetSummary endpoint"
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/assets/{assetId}:
    delete:
      operationId: DeleteClientAssetV1
      summary: Delete asset.
      description: Delete asset.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: GetClientAssetV1
      summary: Get an asset for the specified client by Id.
      description: Get an asset for the specified client by Id.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
    head:
      operationId: GetClientAssetV11
      summary: Get an asset for the specified client by Id.
      description: Get an asset for the specified client by Id.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
    put:
      operationId: UpdateClientAssetV1
      summary: Update asset.
      description: Update asset.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/assets/{assetId}/valuations:
    post:
      operationId: CreateAssetValuationV1
      summary: Create an assetValuation.
      description: Create an assetValuation.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: ListClientAssetValuationsV1
      summary: Get all assets for the specified client.
      description: Get all assets for the specified client.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/assets/{assetId}/valuations/{assetValuationId}:
    delete:
      operationId: DeleteClientAssetValuationV1
      summary: DeleteClientAssetValuationV1 operation
      description: Operation from Monolith.Portfolio
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: GetClientAssetValuationV1
      summary: Get an asset Valuation by assetId and AssetValuationId
      description: Get an asset Valuation by assetId and AssetValuationId
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
    put:
      operationId: UpdateClientAssetValuationV1
      summary: Update assetValuation.
      description: Update assetValuation.
      tags:
        - assets
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/budgets:
    post:
      operationId: CreateClientBudget
      summary: CreateClientBudget operation
      description: Operation from Monolith.FactFind
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: ListClientBudgets
      summary: ListClientBudgets operation
      description: Operation from Monolith.FactFind
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/budgets/{budgetId}:
    delete:
      operationId: DeleteClientBudget
      summary: DeleteClientBudget operation
      description: Operation from Monolith.FactFind
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    head:
      operationId: ExistsClientBudget
      summary: ExistsClientBudget operation
      description: Operation from Monolith.FactFind
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: GetClientBudget
      summary: GetClientBudget operation
      description: Operation from Monolith.FactFind
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    patch:
      operationId: PatchClientBudget
      summary: PatchClientBudget operation
      description: Operation from Monolith.FactFind
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/configuration:
    get:
      operationId: GetClientConfiguration
      summary: Return user client storage configuration
      description: Return user client storage configuration
      tags:
        - configuration
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.ClientStorage
        onDeveloperPortal: false
        source: Service Swagger (Microservice.ClientStorage)
        scopes: []
        swaggerVersion: v1
    put:
      operationId: UpdateClientConfiguration
      summary: Updates user client storage configuration
      description: Updates user client storage configuration
      tags:
        - configuration
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Microservice.ClientStorage
        onDeveloperPortal: false
        source: Service Swagger (Microservice.ClientStorage)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/dataprotection:
    get:
      operationId: GetClientDataprotection
      summary: Get DataProtection for client
      description: Get DataProtection for client
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Crm
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Crm)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/dependants/{dependantId}:
    head:
      operationId: ExistsClientDependant
      summary: Get the specified Dependant
      description: Get the specified Dependant
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/documents/{documentId}:
    head:
      operationId: ExistsClientDocument
      summary: Returns document data from private storage
      description: Returns document data from private storage
      tags:
        - documents
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - documents
            - myprofile
            - openid
      x-intelliflo-api:
        service: Microservice.ClientStorage
        onDeveloperPortal: false
        source: Service Swagger (Microservice.ClientStorage)
        scopes:
          - client_financial_data
          - documents
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/documents/{documentId}/content:
    get:
      operationId: GetClientDocumentContent
      summary: Returns document content from private storage
      description: Returns document content from private storage
      tags:
        - documents
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - documents
            - myprofile
            - openid
      x-intelliflo-api:
        service: Microservice.ClientStorage
        onDeveloperPortal: false
        source: Service Swagger (Microservice.ClientStorage)
        scopes:
          - client_financial_data
          - documents
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/emails:
    post:
      operationId: CreateClientEmail
      summary: CreateClientEmail operation
      description: 
      tags:
        - emails
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/emails/{emailId}:
    get:
      operationId: GetClientEmail
      summary: GetClientEmail operation
      description: 
      tags:
        - emails
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    put:
      operationId: UpdateClientEmail
      summary: UpdateClientEmail operation
      description: 
      tags:
        - emails
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/emails/{emailId}/attachments:
    get:
      operationId: ListClientEmailsAttachments
      summary: ListClientEmailsAttachments operation
      description: 
      tags:
        - attachments
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    put:
      operationId: UpdateClientEmailsAttachments
      summary: UpdateClientEmailsAttachments operation
      description: 
      tags:
        - attachments
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/emails/{emailId}/content:
    get:
      operationId: GetClientEmailContent
      summary: GetClientEmailContent operation
      description: 
      tags:
        - content
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    put:
      operationId: UpdateClientEmailContent
      summary: UpdateClientEmailContent operation
      description: 
      tags:
        - content
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/emails/{emailId}/recipients:
    get:
      operationId: ListClientEmailsRecipients
      summary: ListClientEmailsRecipients operation
      description: 
      tags:
        - recipients
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
    put:
      operationId: UpdateClientEmailsRecipients
      summary: UpdateClientEmailsRecipients operation
      description: 
      tags:
        - recipients
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/emails/{emailId}/send:
    post:
      operationId: SendClientEmail
      summary: SendClientEmail operation
      description: 
      tags:
        - send
      responses:
        200:
          description: Successful response
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
        500:
          description: Internal server error
      x-intelliflo-api:
        service: Monolith.Campaign
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Campaign)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/employmenthistories:
    post:
      operationId: CreateClientEmploymenthistory
      summary: Create the Employment History
      description: Create the Employment History
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: ListClientEmploymenthistories
      summary: Get the Employment Histories
      description: Get the Employment Histories
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/employmenthistories/{employmentHistoryId}:
    delete:
      operationId: DeleteClientEmploymenthistory
      summary: Delete the Employment History
      description: Delete the Employment History
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    head:
      operationId: ExistsClientEmploymenthistory
      summary: Get the specified Employment History
      description: Get the specified Employment History
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: GetClientEmploymenthistory
      summary: Get the specified Employment History
      description: Get the specified Employment History
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    put:
      operationId: UpdateClientEmploymenthistory
      summary: Update the Employment History
      description: Update the Employment History
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/employments/{employmentId}:
    head:
      operationId: ExistsClientEmployment
      summary: Get the specified Employment
      description: Get the specified Employment
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/employments/{employmentId}/movetohistory:
    post:
      operationId: CreateClientEmploymentsMovetohistory
      summary: Move the specified Employment to History
      description: Move the specified Employment to History
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/expenditure:
    head:
      operationId: ExistsClientExpenditure
      summary: Gets Expenditure if any, for the specified client id/for the client of the current context.
      description: Gets Expenditure if any, for the specified client id/for the client of the current context.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/expenditure/expenses:
    post:
      operationId: CreateClientExpenditureExpense
      summary: Creates an Expense for a specified client OR for the client of the current context AND Specified Expenditure ID.
      description: Creates an Expense for a specified client OR for the client of the current context AND Specified Expenditure ID.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: ListClientExpendituresExpenses
      summary: Gets all Expenses for the specified client id OR for the client of the current context's Expenditure.
      description: Gets all Expenses for the specified client id OR for the client of the current context's Expenditure.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    put:
      operationId: UpdateClientsExpenditureExpenses
      summary: Updates a collection of Expenses for a client OR for the client of the current context's Expenditure.
      description: Updates a collection of Expenses for a client OR for the client of the current context's Expenditure.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/expenditure/expenses/{expenseId}:
    delete:
      operationId: DeleteClientExpense
      summary: Deletes an Expense for a client OR for the client of the current context's Expenditure.
      description: Deletes an Expense for a client OR for the client of the current context's Expenditure.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    head:
      operationId: ExistsClientExpense
      summary: Gets Expense if any, for the specified client id/for the client of the current context's Expenditure AND Expense Id.
      description: Gets Expense if any, for the specified client id/for the client of the current context's Expenditure AND Expense Id.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    get:
      operationId: GetClientExpense
      summary: Gets Expense if any, for the specified client id/for the client of the current context's Expenditure AND Expense Id.
      description: Gets Expense if any, for the specified client id/for the client of the current context's Expenditure AND Expense Id.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
    put:
      operationId: UpdateClientExpense
      summary: Updates an Expense for a client OR for the client of the current context's Expenditure.
      description: Updates an Expense for a client OR for the client of the current context's Expenditure.
      tags:
        - clients
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_data
            - client_identification_data
            - firm_data
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes:
          - client_data
          - client_identification_data
          - firm_data
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/factfinds:
    post:
      operationId: CreateClientFactfind
      summary: CreateClientFactfind operation
      description: Operation from Monolith.FactFind
      tags:
        - factfind
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: ListClientFactfinds
      summary: ListClientFactfinds operation
      description: Operation from Monolith.FactFind
      tags:
        - factfind
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/factfinds/{factfindId}:
    head:
      operationId: ExistsClientFactfind
      summary: ExistsClientFactfind operation
      description: Operation from Monolith.FactFind
      tags:
        - factfind
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes: []
        swaggerVersion: v1
    get:
      operationId: GetClientFactfind
      summary: GetClientFactfind operation
      description: Operation from Monolith.FactFind
      tags:
        - factfind
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/factfinds/{factfindId}/declaration:
    get:
      operationId: GetClientFactfindDeclaration
      summary: (TODO) Get the specified Declaration
      description: (TODO) Get the specified Declaration
      tags:
        - factfind
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/factfinds/{factfindId}/disclosures:
    get:
      operationId: ListClientFactfindsDisclosures
      summary: Get DisclosureCollection for specified client
      description: Get DisclosureCollection for specified client
      tags:
        - factfind
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.FactFind
        onDeveloperPortal: false
        source: Service Swagger (Monolith.FactFind)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/fees:
    get:
      operationId: ListClientsFeesV1
      summary: Returns a list of fees for a given client.
      description: Returns a list of fees for a given client.
      tags:
        - fees
      responses:
        200:
          description: Successful response
      security:
        -
          oauth2:
            - client_financial_data
            - firm_data
            - firm_data.fee
            - myprofile
            - openid
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes:
          - client_financial_data
          - firm_data
          - firm_data.fee
          - myprofile
          - openid
        swaggerVersion: v1
  /v1/clients/{clientId}/financialsummary:
    get:
      operationId: GetClientFinancialsummary
      summary: Get a summary of a Portfolio
      description: Get a summary of a Portfolio
      tags:
        - financialsummary
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/financialsummarybycategory:
    get:
      operationId: GetClientFinancialsummarybycategory
      summary: Get a categorised summary of a clients entire Portfolio
      description: Get a categorised summary of a clients entire Portfolio
      tags:
        - financialsummary
      responses:
        200:
          description: Successful response
      x-intelliflo-api:
        service: Monolith.Portfolio
        onDeveloperPortal: false
        source: Service Swagger (Monolith.Portfolio)
        scopes: []
        swaggerVersion: v1
  /v1/clients/{clientId}/goals:
    post:
      operationId: CreateClientGoal
      summary: Create a Client Goal
[...]
