{
  "openapi": "3.0.1",
  "info": {
    "title": "Intelliflo Consolidated Public APIs (V2)",
    "description": "Consolidated OpenAPI specification for all Intelliflo Public APIs using V2 swagger endpoints, generated from multiple service swagger definitions.",
    "version": "2025-11-12",
    "contact": {
      "name": "Intelliflo API Support",
      "url": "https://developer.intelliflo.com"
    }
  },
  "servers": [
    {
      "url": "https://api.intelliflo.com",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/clients/{clientId}/plans/{planId}/holdings/{holdingId}/timeseries": {
      "get": {
        "tags": [
          "fundholdingtimeseries"
        ],
        "summary": "Returns up to three years of fund holding time series for a given client and plan.",
        "operationId": "GetFundHoldingTimeSeries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string"
          },
          {
            "in": "path",
            "name": "clientId",
            "description": "Client identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "planId",
            "description": "Plan identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "holdingId",
            "description": "Fund Holding identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "earliest",
            "description": "Earliest date of the period in yyyy-mm-dd format, can be up to three years in the past",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "latest",
            "description": "Latest date of the period in yyyy-mm-dd format, if not provided defaults to today",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "Tenant identifier",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FundHoldingTimeSeriesCollection"
            },
            "headers": {
              "Content-Type": {
                "description": "Content type for the returned resource",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "x-intelliflo-api": {
          "service": "Unknown",
          "onDeveloperPortal": true,
          "source": "Public Swagger v2",
          "scopes": [
            "openid",
            "myprofile",
            "fund_data"
          ],
          "swaggerVersion": "unknown"
        },
        "security": [
          {
            "oauth2": [
              "openid",
              "myprofile",
              "fund_data"
            ]
          }
        ]
      }
    },
    "/forgotpassword": {
      "post": {
        "operationId": "CreateForgotpassword",
        "summary": "CreateForgotpassword operation",
        "description": "",
        "tags": [
          "accountrecovery"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Identity",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Identity)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetForgotpassword",
        "summary": "GetForgotpassword operation",
        "description": "",
        "tags": [
          "accountrecovery"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Identity",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Identity)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/forgotpassword/confirmation/{forgotPasswordId}": {
      "post": {
        "operationId": "CreateConfirmation",
        "summary": "CreateConfirmation operation",
        "description": "",
        "tags": [
          "accountrecovery"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Identity",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Identity)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetConfirmation",
        "summary": "GetConfirmation operation",
        "description": "",
        "tags": [
          "accountrecovery"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Identity",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Identity)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/forgotpassword/resetpassword/{forgotPasswordId}": {
      "get": {
        "operationId": "GetResetpassword",
        "summary": "GetResetpassword operation",
        "description": "",
        "tags": [
          "accountrecovery"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Identity",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Identity)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/hub": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "A WebSub compliant endpoint which creates or updates an existing webhook subscription.",
        "description": "This endpoint is a [WebSub](https://www.w3.org/TR/websub/#subscriber-sends-subscription-request) compliant hub for managing subscriptions to event topics, see [Events](/apis/events) for supported events.\n This request MUST have a Content-Type header of `application/x-www-form-urlencoded` and use the described parameters in the body as described below.",
        "operationId": "SubscribeUnsubscribeWebSub",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "hub.mode",
            "description": "The literal string subscribe or unsubscribe, depending on the goal of the request.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "hub.topic",
            "description": "The topic URL that the subscriber wishes to subscribe to or unsubscribe from.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "hub.callback",
            "description": "The callback url where content distribution notifications should be delivered.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "hub.lease_seconds",
            "description": "Number of seconds to have the subscription active, given as a positive decimal integer.",
            "type": "integer"
          },
          {
            "in": "formData",
            "name": "hub.secret",
            "description": "A cryptographically random unique secret string that will be used to compute an HMAC digest for authorized content distribution.",
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Content-Type": {
                "description": "Content type for the returned resource.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-intelliflo-api": {
          "service": "Unknown",
          "onDeveloperPortal": true,
          "source": "Public Swagger v2",
          "scopes": [
            "openid",
            "myprofile",
            "hub"
          ],
          "swaggerVersion": "unknown"
        },
        "security": [
          {
            "oauth2": [
              "openid",
              "myprofile",
              "hub"
            ]
          }
        ]
      }
    },
    "/hub/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Creates or updates an existing webhook subscription.",
        "description": "This will create or update a webhook subscription, see [Events](/apis/events) for supported events.",
        "operationId": "CreateWebhook",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "webhook",
            "description": "Resource Document",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookCreate"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Webhook"
            },
            "headers": {
              "Content-Type": {
                "description": "Content type for the returned resource.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "x-intelliflo-api": {
          "service": "Unknown",
          "onDeveloperPortal": true,
          "source": "Public Swagger v2",
          "scopes": [
            "openid",
            "myprofile",
            "hub"
          ],
          "swaggerVersion": "unknown"
        },
        "security": [
          {
            "oauth2": [
              "openid",
              "myprofile",
              "hub"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Returns the list of webhook subscriptions.",
        "description": "This will return a list of webhook subscriptions.",
        "operationId": "ListWebhooks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebhookCollection"
            },
            "headers": {
              "Content-Type": {
                "description": "Content type for the returned resource.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-intelliflo-api": {
          "service": "Unknown",
          "onDeveloperPortal": true,
          "source": "Public Swagger v2",
          "scopes": [
            "openid",
            "myprofile",
            "hub"
          ],
          "swaggerVersion": "unknown"
        },
        "security": [
          {
            "oauth2": [
              "openid",
              "myprofile",
              "hub"
            ]
          }
        ]
      }
    },
    "/hub/webhooks/{id}": {
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Deletes a specific webhook subscription by id (Unsubscribe).",
        "description": "This will delete a specific webhook subscription by id.",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Subscription identifier.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Content-Type": {
                "description": "Content type for the returned resource.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-intelliflo-api": {
          "service": "Unknown",
          "onDeveloperPortal": true,
          "source": "Public Swagger v2",
          "scopes": [
            "openid",
            "myprofile",
            "hub"
          ],
          "swaggerVersion": "unknown"
        },
        "security": [
          {
            "oauth2": [
              "openid",
              "myprofile",
              "hub"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Returns a specific webhook subscription by id.",
        "description": "This will return a specific webhook subscription by id.",
        "operationId": "GetWebhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Subscription identifier.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webhook"
            },
            "headers": {
              "Content-Type": {
                "description": "Content type for the returned resource.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-intelliflo-api": {
          "service": "Unknown",
          "onDeveloperPortal": true,
          "source": "Public Swagger v2",
          "scopes": [
            "openid",
            "myprofile",
            "hub"
          ],
          "swaggerVersion": "unknown"
        },
        "security": [
          {
            "oauth2": [
              "openid",
              "myprofile",
              "hub"
            ]
          }
        ]
      }
    },
    "/membership/v2/emails/verify/{token}": {
      "get": {
        "operationId": "GetVerify",
        "summary": "GetVerify operation",
        "description": "",
        "tags": [
          "accountsecurity"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/session/beginsession": {
      "get": {
        "operationId": "GetBeginsession",
        "summary": "GetBeginsession operation",
        "description": "",
        "tags": [
          "session"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Identity",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Identity)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/DocumentBinderConfig": {
      "get": {
        "operationId": "GetBinderSettings",
        "summary": "Get Binder Settings",
        "description": "Get Binder Settings",
        "tags": [
          "documentbinderconfigs"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts": {
      "post": {
        "operationId": "CreateAccount",
        "summary": "Creates account",
        "description": "Creates account",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateAccount",
        "summary": "Updates username",
        "description": "Updates username",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountId}": {
      "head": {
        "operationId": "AccountExists",
        "summary": "Check the account is available",
        "description": "Check the account is available",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountId}/addresses": {
      "post": {
        "operationId": "CreateAccountAddress",
        "summary": "Creates a new Address for the given Account.",
        "description": "Creates a new Address for the given Account.",
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_data",
              "firm_data",
              "myprofile",
              "openid"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [
            "client_data",
            "firm_data",
            "myprofile",
            "openid"
          ],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "ListAccountAddresses",
        "summary": "Returns a paged list of Address (AddressCollection)",
        "description": "Returns a paged list of Address (AddressCollection)",
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_data",
              "firm_data",
              "myprofile",
              "openid"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [
            "client_data",
            "firm_data",
            "myprofile",
            "openid"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountId}/addresses/{addressId}": {
      "delete": {
        "operationId": "DeleteAccountAddress",
        "summary": "Deletes an existing Address for the given Account.",
        "description": "Deletes an existing Address for the given Account.",
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_data",
              "firm_data",
              "myprofile",
              "openid"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [
            "client_data",
            "firm_data",
            "myprofile",
            "openid"
          ],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetAccountAddress",
        "summary": "Retrieves the Address for the given addressId.",
        "description": "Retrieves the Address for the given addressId.",
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_data",
              "firm_data",
              "myprofile",
              "openid"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [
            "client_data",
            "firm_data",
            "myprofile",
            "openid"
          ],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateAccountAddress",
        "summary": "Updates an existing Address for the given Account.",
        "description": "Updates an existing Address for the given Account.",
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_data",
              "firm_data",
              "myprofile",
              "openid"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [
            "client_data",
            "firm_data",
            "myprofile",
            "openid"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountId}/documents": {
      "get": {
        "operationId": "ListAccountDocuments",
        "summary": "List all account documents",
        "description": "List all account documents",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountId}/documents/{documentId}": {
      "head": {
        "operationId": "AccountDocumentExists",
        "summary": "Checks if required document exists",
        "description": "Checks if required document exists",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "post": {
        "operationId": "AssignAccountDocument",
        "summary": "Adds the specified account owner to the specified document",
        "description": "Adds the specified account owner to the specified document",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "delete": {
        "operationId": "DeleteAccountDocument",
        "summary": "Deletes a file object associated with the specified account document",
        "description": "Deletes a file object associated with the specified account document",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetAccountDocument",
        "summary": "Gets a single account document by id",
        "description": "Gets a single account document by id",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateAccountDocument",
        "summary": "Updates the specified account document",
        "description": "Updates the specified account document",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountId}/documents/{documentId}/object": {
      "head": {
        "operationId": "AccountDocumentObjectExists",
        "summary": "Checks if required account document is uploaded.",
        "description": "Checks if required account document is uploaded.",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetAccountDocumentObject",
        "summary": "Gets a single account document object",
        "description": "Gets a single account document object",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateAccountDocumentObject",
        "summary": "Uploads a file object associated with the specified account document",
        "description": "Uploads a file object associated with the specified account document",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Storage",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Storage)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountId}/relationships": {
      "post": {
        "operationId": "CreateAccountRelationship",
        "summary": "Creates a new Relationship for the given Account.",
        "description": "Creates a new Relationship for the given Account.",
        "tags": [
          "relationships"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_data",
              "myprofile",
              "openid"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [
            "client_data",
            "myprofile",
            "openid"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountId}/relationships/{relationshipId}": {
      "delete": {
        "operationId": "DeleteAccountRelationship",
        "summary": "Deletes an existing Relationship for the given Account.",
        "description": "Deletes an existing Relationship for the given Account.",
        "tags": [
          "relationships"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_data",
              "myprofile",
              "openid"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [
            "client_data",
            "myprofile",
            "openid"
          ],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateAccountRelationship",
        "summary": "Updates an existing Relationship for the given Account.",
        "description": "Updates an existing Relationship for the given Account.",
        "tags": [
          "relationships"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_data",
              "myprofile",
              "openid"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [
            "client_data",
            "myprofile",
            "openid"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountNumber}/banklink/{bankLinkRef}/status": {
      "patch": {
        "operationId": "PatchStandingInstructionStatus",
        "summary": "PatchStandingInstructionStatus operation",
        "description": "",
        "tags": [
          "update status"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_financial_data"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Microservice.ProviderIntegration",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ProviderIntegration)",
          "scopes": [
            "client_financial_data"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountNumber}/model": {
      "put": {
        "operationId": "PutAccountModel",
        "summary": "PutAccountModel operation",
        "description": "",
        "tags": [
          "update status"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_financial_data"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Microservice.ProviderIntegration",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ProviderIntegration) + GitHub Microservice.ProviderIntegration",
          "scopes": [
            "client_financial_data"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountNumber}/moneymovements": {
      "put": {
        "operationId": "PutMoneyMovementInstuction",
        "summary": "PutMoneyMovementInstuction operation",
        "description": "",
        "tags": [
          "update status"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_financial_data"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Microservice.ProviderIntegration",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ProviderIntegration) + GitHub Microservice.ProviderIntegration",
          "scopes": [
            "client_financial_data"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountNumber}/moneymovements/{moneyMovementId}/activities": {
      "post": {
        "operationId": "PostMoneyMovementActivity",
        "summary": "PostMoneyMovementActivity operation",
        "description": "",
        "tags": [
          "update status"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_financial_data"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Microservice.ProviderIntegration",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ProviderIntegration)",
          "scopes": [
            "client_financial_data"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountNumber}/moneymovements/{movementId}/status": {
      "patch": {
        "operationId": "PatchMoneyMovementStatus",
        "summary": "PatchMoneyMovementStatus operation",
        "description": "",
        "tags": [
          "update status"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_financial_data"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Microservice.ProviderIntegration",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ProviderIntegration)",
          "scopes": [
            "client_financial_data"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountNumber}/status": {
      "patch": {
        "operationId": "PatchAccountStatus",
        "summary": "PatchAccountStatus operation",
        "description": "",
        "tags": [
          "update status"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_financial_data"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Microservice.ProviderIntegration",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ProviderIntegration)",
          "scopes": [
            "client_financial_data"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{accountNumber}/transfers/{movementId}/status": {
      "patch": {
        "operationId": "PatchSecurityTransferInstructionStatus",
        "summary": "PatchSecurityTransferInstructionStatus operation",
        "description": "",
        "tags": [
          "update status"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "client_financial_data"
            ]
          }
        ],
        "x-intelliflo-api": {
          "service": "Microservice.ProviderIntegration",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ProviderIntegration)",
          "scopes": [
            "client_financial_data"
          ],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}": {
      "get": {
        "operationId": "GetAccount",
        "summary": "Gets user account",
        "description": "Gets user account",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/2fa": {
      "delete": {
        "operationId": "DeleteAccount2fa",
        "summary": "Sets up Is2faEnabled to false, delete shared secret and recovery codes.",
        "description": "Sets up Is2faEnabled to false, delete shared secret and recovery codes.",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/2fa/authenticate": {
      "post": {
        "operationId": "CreateAccount2faAuthenticate",
        "summary": "Verifies that 2fa code is valid and logins",
        "description": "Verifies that 2fa code is valid and logins",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/2fa/extmfa/authenticate": {
      "post": {
        "operationId": "CreateAccount2faExtmfaAuthenticate",
        "summary": "Verifies that 2fa code is valid and logins",
        "description": "Verifies that 2fa code is valid and logins",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/2fa/postpone": {
      "post": {
        "operationId": "CreateAccount2faPostpone",
        "summary": "Postpone 2fa setup for a user account.",
        "description": "Postpone 2fa setup for a user account.",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/2fa/recoverycodes": {
      "post": {
        "operationId": "CreateAccounts2faRecoverycode",
        "summary": "Creates new 2fa recovery codes for an user account.",
        "description": "Creates new 2fa recovery codes for an user account.",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "ListAccount2fasRecoverycodes",
        "summary": "Returns 2fa recovery codes for an user account.",
        "description": "Returns 2fa recovery codes for an user account.",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/2fa/recoverycodes/authenticate": {
      "post": {
        "operationId": "CreateAccount2faRecoverycodesAuthenticate",
        "summary": "Authenticates an user using a recovery code.\r\nUsed recovery code will be deleted after an authentication.",
        "description": "Authenticates an user using a recovery code.\r\nUsed recovery code will be deleted after an authentication.",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/2fa/register": {
      "post": {
        "operationId": "CreateAccounts2faRegister",
        "summary": "If a verification code is valid, sets up Is2faEnabled to true and\r\ncreates and returns new recovery codes.",
        "description": "If a verification code is valid, sets up Is2faEnabled to true and\r\ncreates and returns new recovery codes.",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/2fa/secret": {
      "post": {
        "operationId": "CreateAccounts2faSecret",
        "summary": "Creates new 2fa shared secret for an user account.",
        "description": "Creates new 2fa shared secret for an user account.",
        "tags": [
          "2fa"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/passkeys/authenticate": {
      "post": {
        "operationId": "CreateAccountPasskeysAuthenticate",
        "summary": "Verifies the user authenticated by FIDO is valid and processes user login",
        "description": "Verifies the user authenticated by FIDO is valid and processes user login",
        "tags": [
          "passkeys"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/phones": {
      "post": {
        "operationId": "CreateAccountPhone",
        "summary": "Creates a phone for given account.",
        "description": "Creates a phone for given account.",
        "tags": [
          "phones"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "ListAccountPhones",
        "summary": "Returns a list of phones for given account.",
        "description": "Returns a list of phones for given account.",
        "tags": [
          "phones"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/phones/{phoneId}": {
      "delete": {
        "operationId": "DeleteAccountPhone",
        "summary": "Deletes a phone for a given account.",
        "description": "Deletes a phone for a given account.",
        "tags": [
          "phones"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetAccountPhone",
        "summary": "Returns a phone for given account.",
        "description": "Returns a phone for given account.",
        "tags": [
          "phones"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/phones/{phoneId}/makeprimary": {
      "post": {
        "operationId": "CreateAccountPhoneMakeprimary",
        "summary": "Makes the given phone primary for a given account.",
        "description": "Makes the given phone primary for a given account.",
        "tags": [
          "phones"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/accounts/{subject}/phones/{phoneId}/makeverified": {
      "post": {
        "operationId": "CreateAccountPhoneMakeverified",
        "summary": "Verifies a phone for a given account.",
        "description": "Verifies a phone for a given account.",
        "tags": [
          "phones"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Membership",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Membership)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/appointments": {
      "post": {
        "operationId": "CreateAppointment",
        "summary": "Creates an appointment.",
        "description": "Creates an appointment.",
        "tags": [
          "appointments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "ListAppointment",
        "summary": "Returns a list of appointments.",
        "description": "Returns a list of appointments.",
        "tags": [
          "appointments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/appointments/{appointmentId}": {
      "delete": {
        "operationId": "DeleteAppointment",
        "summary": "Deletes a given appointment.",
        "description": "Deletes a given appointment.",
        "tags": [
          "appointments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetAppointment",
        "summary": "Returns a given appointment.",
        "description": "Returns a given appointment.",
        "tags": [
          "appointments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateAppointment",
        "summary": "Updates a given appointment.",
        "description": "Updates a given appointment.",
        "tags": [
          "appointments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/categories": {
      "post": {
        "operationId": "CreateActivityCategory",
        "summary": "Creates an activity category",
        "description": "Creates an activity category",
        "tags": [
          "activitycategories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "ListActivityCategories",
        "summary": "Returns a list of activity categories.",
        "description": "Returns a list of activity categories.",
        "tags": [
          "activitycategories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger + Documentation Ignore",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/categories/{categoryId}": {
      "delete": {
        "operationId": "DeleteActivityCategory",
        "summary": "Deletes a given activity category.",
        "description": "Deletes a given activity category.",
        "tags": [
          "activitycategories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetActivityCategory",
        "summary": "Returns a given activity category.",
        "description": "Returns a given activity category.",
        "tags": [
          "activitycategories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger + Documentation Ignore",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateActivityCategory",
        "summary": "Updates a given activity category.",
        "description": "Updates a given activity category.",
        "tags": [
          "activitycategories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/emails": {
      "post": {
        "operationId": "CreateEmail",
        "summary": "Creates an email.",
        "description": "Creates an email.",
        "tags": [
          "emails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "ListEmails",
        "summary": "Returns a list of emails.",
        "description": "Returns a list of emails.",
        "tags": [
          "emails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/emails/{emailId}": {
      "delete": {
        "operationId": "DeleteEmail",
        "summary": "Deletes a given email.",
        "description": "Deletes a given email.",
        "tags": [
          "emails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetEmail",
        "summary": "Returns a given email.",
        "description": "Returns a given email.",
        "tags": [
          "emails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateEmail",
        "summary": "Updates a given email.",
        "description": "Updates a given email.",
        "tags": [
          "emails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/outcomes": {
      "post": {
        "operationId": "CreateActivityOutcome",
        "summary": "Creates an activity outcome",
        "description": "Creates an activity outcome",
        "tags": [
          "activityoutcomes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "ListActivityOutcomes",
        "summary": "Returns a list of activity outcomes.",
        "description": "Returns a list of activity outcomes.",
        "tags": [
          "activityoutcomes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger + Documentation Ignore",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/outcomes/{outcomeId}": {
      "delete": {
        "operationId": "DeleteActivityOutcome",
        "summary": "Deletes a given activity outcome.",
        "description": "Deletes a given activity outcome.",
        "tags": [
          "activityoutcomes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "GetActivityOutcome",
        "summary": "Returns a given activity outcome.",
        "description": "Returns a given activity outcome.",
        "tags": [
          "activityoutcomes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger + Documentation Ignore",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateActivityOutcome",
        "summary": "Updates a given activity outcome.",
        "description": "Updates a given activity outcome.",
        "tags": [
          "activityoutcomes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/priorities": {
      "get": {
        "operationId": "ListActivityPriorities",
        "summary": "Returns a list of activity priorities.",
        "description": "Returns a list of activity priorities.",
        "tags": [
          "activitypriorities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger + Documentation Ignore",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/priorities/{priorityId}": {
      "get": {
        "operationId": "GetActivityPriority",
        "summary": "Returns a given activity priority.",
        "description": "Returns a given activity priority.",
        "tags": [
          "activitypriorities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger + Documentation Ignore",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/tasks": {
      "post": {
        "operationId": "CreateTask",
        "summary": "Creates a task.",
        "description": "Creates a task.",
        "tags": [
          "tasks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger + Documentation Ignore",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "get": {
        "operationId": "ListTask",
        "summary": "Returns a list of tasks.",
        "description": "Returns a list of tasks.",
        "tags": [
          "tasks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger + Documentation Ignore",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/tasks/search": {
      "get": {
        "operationId": "SearchTask",
        "summary": "Search for the tasks.",
        "description": "Search for the tasks.",
        "tags": [
          "tasks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/tasks/tenants/{tenantId}/settings": {
      "get": {
        "operationId": "GetTenantTaskSetting",
        "summary": "Returns a given tenant task setting.",
        "description": "Returns a given tenant task setting.",
        "tags": [
          "tenanttasksetting"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      },
      "put": {
        "operationId": "UpdateTenantTaskSetting",
        "summary": "Updates a given tenant task setting.",
        "description": "Updates a given tenant task setting.",
        "tags": [
          "tenanttasksetting"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Crm)",
          "scopes": [],
          "swaggerVersion": "v2"
        }
      }
    },
    "/v2/activities/tasks/{taskId}": {
      "delete": {
        "operationId": "DeleteTask",
        "summary": "Deletes a given task.",
        "description": "Deletes a given task.",
        "tags": [
          "tasks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Crm",
[...]
