{
  "openapi": "3.0.1",
  "info": {
    "title": "Intelliflo Consolidated Public APIs (V1)",
    "description": "Consolidated OpenAPI specification for all Intelliflo Public APIs using V1 swagger endpoints, generated from multiple service swagger definitions.",
    "version": "2025-11-12",
    "contact": {
      "name": "Intelliflo API Support",
      "url": "https://developer.intelliflo.com"
    }
  },
  "servers": [
    {
      "url": "https://api.intelliflo.com",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/v1/brands": {
      "get": {
        "operationId": "ListBrands",
        "summary": "Get brand for either current user or non-authenticated one.",
        "description": "Get brand for either current user or non-authenticated one.",
        "tags": [
          "brand"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Brand",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Brand)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaignemails/sendbulk": {
      "post": {
        "operationId": "SendbulkCampaignemails",
        "summary": "Send bulk templated email",
        "description": "Send bulk templated email",
        "tags": [
          "sendbulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns": {
      "post": {
        "operationId": "CreateCampaign",
        "summary": "Creates campaign details",
        "description": "Creates campaign details",
        "tags": [
          "campaigns"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListCampaigns",
        "summary": "Get all campaign templates for the given tenant",
        "description": "Get all campaign templates for the given tenant",
        "tags": [
          "campaigns"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}": {
      "delete": {
        "operationId": "DeleteCampaign",
        "summary": "Deletes the specified campaign",
        "description": "Deletes the specified campaign",
        "tags": [
          "campaigns"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "GetCampaign",
        "summary": "Get campaign details",
        "description": "Get campaign details",
        "tags": [
          "campaigns"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "patch": {
        "operationId": "PatchCampaign",
        "summary": "Updates campaign details",
        "description": "Updates campaign details",
        "tags": [
          "campaigns"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/content": {
      "get": {
        "operationId": "GetCampaignContent",
        "summary": "Get campaign details",
        "description": "Get campaign details",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "patch": {
        "operationId": "PatchCampaignContent",
        "summary": "Updates campaign details",
        "description": "Updates campaign details",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/execute": {
      "post": {
        "operationId": "CreateCampaignExecute",
        "summary": "Initiate a specified campaign",
        "description": "Initiate a specified campaign",
        "tags": [
          "execute"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/recipients": {
      "post": {
        "operationId": "CreateCampaignsRecipient",
        "summary": "CreateCampaignsRecipient operation",
        "description": "",
        "tags": [
          "recipients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListCampaignRecipients",
        "summary": "ListCampaignRecipients operation",
        "description": "",
        "tags": [
          "recipients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "patch": {
        "operationId": "ListCampaignsRecipients",
        "summary": "ListCampaignsRecipients operation",
        "description": "",
        "tags": [
          "recipients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/recipients/{recipientId}": {
      "delete": {
        "operationId": "DeleteCampaignRecipient",
        "summary": "Deletes the specified campaign recipient",
        "description": "Deletes the specified campaign recipient",
        "tags": [
          "recipients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "GetCampaignRecipient",
        "summary": "Retrieve details for a specified campaign recipient",
        "description": "Retrieve details for a specified campaign recipient",
        "tags": [
          "recipients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/report": {
      "get": {
        "operationId": "GetCampaignReport",
        "summary": "Get campaign report",
        "description": "Get campaign report",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/segments": {
      "get": {
        "operationId": "GetCampaignSegment",
        "summary": "GetCampaignSegment operation",
        "description": "",
        "tags": [
          "segments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "put": {
        "operationId": "UpdateCampaignSegments",
        "summary": "UpdateCampaignSegments operation",
        "description": "",
        "tags": [
          "segments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/segments/apply": {
      "post": {
        "operationId": "CreateCampaignSegmentsApply",
        "summary": "CreateCampaignSegmentsApply operation",
        "description": "",
        "tags": [
          "apply"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/sendtestemail": {
      "post": {
        "operationId": "SendtestemailCampaigns",
        "summary": "Send a test email for the specified template",
        "description": "Send a test email for the specified template",
        "tags": [
          "sendtestemail"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigns/{campaignId}/{status}": {
      "put": {
        "operationId": "UpdateCampaignCampaignId",
        "summary": "Update campaign status",
        "description": "Update campaign status",
        "tags": [
          "campaignids"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigntemplates": {
      "post": {
        "operationId": "CreateCampaigntemplate",
        "summary": "Create a campaign template",
        "description": "Create a campaign template",
        "tags": [
          "campaigntemplates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListCampaigntemplates",
        "summary": "ListCampaigntemplates operation",
        "description": "",
        "tags": [
          "campaigntemplates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigntemplates/{templateId}": {
      "delete": {
        "operationId": "DeleteCampaigntemplate",
        "summary": "Deletes a campaign template",
        "description": "Deletes a campaign template",
        "tags": [
          "campaigntemplates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "head": {
        "operationId": "ExistsCampaigntemplate",
        "summary": "ExistsCampaigntemplate operation",
        "description": "",
        "tags": [
          "campaigntemplates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "GetCampaigntemplate",
        "summary": "GetCampaigntemplate operation",
        "description": "",
        "tags": [
          "campaigntemplates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "patch": {
        "operationId": "PatchCampaigntemplate",
        "summary": "Updates a campaign template",
        "description": "Updates a campaign template",
        "tags": [
          "campaigntemplates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigntemplates/{templateId}/archive": {
      "post": {
        "operationId": "CreateCampaigntemplateArchive",
        "summary": "CreateCampaigntemplateArchive operation",
        "description": "",
        "tags": [
          "archive"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigntemplates/{templateId}/content": {
      "get": {
        "operationId": "GetCampaigntemplateContent",
        "summary": "GetCampaigntemplateContent operation",
        "description": "",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "patch": {
        "operationId": "PatchCampaigntemplateContent",
        "summary": "Updates a campaign template",
        "description": "Updates a campaign template",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/campaigntemplates/{templateId}/sendtestemail": {
      "post": {
        "operationId": "SendtestemailCampaigntemplates",
        "summary": "Send a test email for the specified template",
        "description": "Send a test email for the specified template",
        "tags": [
          "sendtestemail"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/categories": {
      "post": {
        "operationId": "CreateCategory",
        "summary": "Create a template category",
        "description": "Create a template category",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Author",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Author)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListCategories",
        "summary": "List template categories",
        "description": "List template categories",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Author",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Author)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/categories/{categoryId}": {
      "delete": {
        "operationId": "DeleteCategory",
        "summary": "Delete a template category",
        "description": "Delete a template category",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Author",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Author)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "GetCategory",
        "summary": "Get a specified category",
        "description": "Get a specified category",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Author",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Author)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "patch": {
        "operationId": "PatchCategory",
        "summary": "Update a template category",
        "description": "Update a template category",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Author",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Author)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/client/{partyId}/changes": {
      "post": {
        "operationId": "CreateClientChange",
        "summary": "Creates a change log entry for the client.",
        "description": "Creates a change log entry for the client.",
        "tags": [
          "changes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListClientChanges",
        "summary": "Return a paged collection of changes.",
        "description": "Return a paged collection of changes.",
        "tags": [
          "changes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/client/{partyId}/changes/{eventId}": {
      "head": {
        "operationId": "ExistsClientChange",
        "summary": "Get the specified event.",
        "description": "Get the specified event.",
        "tags": [
          "changes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "GetClientChange",
        "summary": "Get the specified event.",
        "description": "Get the specified event.",
        "tags": [
          "changes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/clients/{clientId}/emails": {
      "post": {
        "operationId": "CreateClientEmail",
        "summary": "CreateClientEmail operation",
        "description": "",
        "tags": [
          "emails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/clients/{clientId}/emails/{emailId}": {
      "get": {
        "operationId": "GetClientEmail",
        "summary": "GetClientEmail operation",
        "description": "",
        "tags": [
          "emails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "put": {
        "operationId": "UpdateClientEmail",
        "summary": "UpdateClientEmail operation",
        "description": "",
        "tags": [
          "emails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/clients/{clientId}/emails/{emailId}/attachments": {
      "get": {
        "operationId": "ListClientEmailsAttachments",
        "summary": "ListClientEmailsAttachments operation",
        "description": "",
        "tags": [
          "attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "put": {
        "operationId": "UpdateClientEmailsAttachments",
        "summary": "UpdateClientEmailsAttachments operation",
        "description": "",
        "tags": [
          "attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/clients/{clientId}/emails/{emailId}/content": {
      "get": {
        "operationId": "GetClientEmailContent",
        "summary": "GetClientEmailContent operation",
        "description": "",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "put": {
        "operationId": "UpdateClientEmailContent",
        "summary": "UpdateClientEmailContent operation",
        "description": "",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/clients/{clientId}/emails/{emailId}/recipients": {
      "get": {
        "operationId": "ListClientEmailsRecipients",
        "summary": "ListClientEmailsRecipients operation",
        "description": "",
        "tags": [
          "recipients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "put": {
        "operationId": "UpdateClientEmailsRecipients",
        "summary": "UpdateClientEmailsRecipients operation",
        "description": "",
        "tags": [
          "recipients"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/clients/{clientId}/emails/{emailId}/send": {
      "post": {
        "operationId": "SendClientEmail",
        "summary": "SendClientEmail operation",
        "description": "",
        "tags": [
          "send"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/clients/{clientId}/messages": {
      "get": {
        "operationId": "ListClientMessages",
        "summary": "Get a list of secure messages for the client.",
        "description": "Get a list of secure messages for the client.",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/clients/{clientId}/messages/output": {
      "post": {
        "operationId": "GetSecureMessageTrail",
        "summary": "Get a secure message trail in pdf file.",
        "description": "Get a secure message trail in pdf file.",
        "tags": [
          "output"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/domains": {
      "get": {
        "operationId": "ListDomains",
        "summary": "ListDomains operation",
        "description": "",
        "tags": [
          "domains"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/domains/verify": {
      "post": {
        "operationId": "CreateDomainVerify",
        "summary": "CreateDomainVerify operation",
        "description": "",
        "tags": [
          "verify"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/emails/configuration": {
      "get": {
        "operationId": "GetEmailConfiguration",
        "summary": "GetEmailConfiguration operation",
        "description": "",
        "tags": [
          "configuration"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "put": {
        "operationId": "UpdateEmailConfiguration",
        "summary": "UpdateEmailConfiguration operation",
        "description": "",
        "tags": [
          "configuration"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/emails/defaultsender": {
      "get": {
        "operationId": "DefaultsenderEmail",
        "summary": "DefaultsenderEmail operation",
        "description": "",
        "tags": [
          "defaultsender"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/emailtemplatefields": {
      "get": {
        "operationId": "GetEmailtemplatefield",
        "summary": "GetEmailtemplatefield operation",
        "description": "",
        "tags": [
          "emailtemplatefields"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/esign/preprocess": {
      "post": {
        "operationId": "CreateEsignPreprocess",
        "summary": "CreateEsignPreprocess operation",
        "description": "",
        "tags": [
          "preprocess"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Author",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Author)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/events/subscribe": {
      "post": {
        "operationId": "CreateEventSubscribe",
        "summary": "Add a new subscription for the party based on given request.",
        "description": "Add a new subscription for the party based on given request.",
        "tags": [
          "subscribe"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListEventsSubscribe",
        "summary": "Get a list of subscriptions for the party.",
        "description": "Get a list of subscriptions for the party.",
        "tags": [
          "subscribe"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/events/subscribe/{noun}": {
      "delete": {
        "operationId": "DeleteSubscribe",
        "summary": "Deletes the subscription settings for the party based on noun.",
        "description": "Deletes the subscription settings for the party based on noun.",
        "tags": [
          "subscribes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "GetSubscribe",
        "summary": "Get subscription details for the party for the specified noun.",
        "description": "Get subscription details for the party for the specified noun.",
        "tags": [
          "subscribes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "put": {
        "operationId": "UpdateSubscribe",
        "summary": "Update the subscription settings for the party based on the noun.",
        "description": "Update the subscription settings for the party based on the noun.",
        "tags": [
          "subscribes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.ChangeNotification",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.ChangeNotification)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/groups/{groupId}/brands": {
      "post": {
        "operationId": "CreateGroupBrand",
        "summary": "Create brand",
        "description": "Create brand",
        "tags": [
          "brands"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Brand",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Brand)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListGroupBrands",
        "summary": "Lists all brands for the specified group.",
        "description": "Lists all brands for the specified group.",
        "tags": [
          "brands"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Brand",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Brand)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/groups/{groupId}/brands/closest": {
      "get": {
        "operationId": "GetGroupBrandClosest",
        "summary": "Get closest brand for specified group",
        "description": "Get closest brand for specified group",
        "tags": [
          "closest"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Brand",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Brand)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/groups/{groupId}/brands/{brandId}": {
      "delete": {
        "operationId": "DeleteGroupBrand",
        "summary": "Delete brand",
        "description": "Delete brand",
        "tags": [
          "brands"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Brand",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Brand)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "GetGroupBrand",
        "summary": "Get a brand by id and groupId.",
        "description": "Get a brand by id and groupId.",
        "tags": [
          "brands"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Brand",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Brand)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "patch": {
        "operationId": "PatchGroupBrand",
        "summary": "Update brand",
        "description": "Update brand",
        "tags": [
          "brands"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Brand",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Brand)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/identities": {
      "get": {
        "operationId": "ListIdentities",
        "summary": "ListIdentities operation",
        "description": "",
        "tags": [
          "identities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Email",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Email)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/identities/verify": {
      "post": {
        "operationId": "CreateIdentityVerify",
        "summary": "CreateIdentityVerify operation",
        "description": "",
        "tags": [
          "verify"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Email",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Email)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/instances": {
      "get": {
        "operationId": "ListInstances",
        "summary": "ListInstances operation",
        "description": "",
        "tags": [
          "instances"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Workflow",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Workflow)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/instances/{instanceId}": {
      "get": {
        "operationId": "GetInstance",
        "summary": "GetInstance operation",
        "description": "",
        "tags": [
          "instances"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Workflow",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Workflow)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/instances/{instanceId}/abort": {
      "post": {
        "operationId": "CreateInstanceAbort",
        "summary": "CreateInstanceAbort operation",
        "description": "",
        "tags": [
          "abort"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Workflow",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Workflow)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/instances/{instanceId}/history": {
      "get": {
        "operationId": "ListInstancesHistory",
        "summary": "ListInstancesHistory operation",
        "description": "",
        "tags": [
          "history"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Workflow",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Workflow)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/instances/{instanceId}/restart": {
      "post": {
        "operationId": "CreateInstanceRestart",
        "summary": "CreateInstanceRestart operation",
        "description": "",
        "tags": [
          "restart"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Workflow",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Workflow)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/instances/{instanceId}/resume": {
      "post": {
        "operationId": "CreateInstanceResume",
        "summary": "CreateInstanceResume operation",
        "description": "",
        "tags": [
          "resume"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Workflow",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Workflow)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/instances/{instanceId}/steps": {
      "get": {
        "operationId": "ListInstancesSteps",
        "summary": "ListInstancesSteps operation",
        "description": "",
        "tags": [
          "steps"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Workflow",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Workflow)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/instances/{instanceId}/unsuspend": {
      "post": {
        "operationId": "CreateInstanceUnsuspend",
        "summary": "CreateInstanceUnsuspend operation",
        "description": "",
        "tags": [
          "unsuspend"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Workflow",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Workflow)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/mail": {
      "post": {
        "operationId": "CreateMail",
        "summary": "Send a templated email\r\nAttachments are sent as multi part content",
        "description": "Send a templated email\r\nAttachments are sent as multi part content",
        "tags": [
          "mails"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Email",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Email)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/mail/send_raw": {
      "post": {
        "operationId": "SendRawMail",
        "summary": "SendRawMail operation",
        "description": "",
        "tags": [
          "sendraw"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Email",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Email)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/mail/send_template": {
      "post": {
        "operationId": "SendTemplateMail",
        "summary": "Send a templated email\r\nAttachments are sent as multi part content",
        "description": "Send a templated email\r\nAttachments are sent as multi part content",
        "tags": [
          "sendtemplate"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.Email",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.Email)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/mailevents/mandrill": {
      "post": {
        "operationId": "CreateMaileventMandrill",
        "summary": "Accept callbacks from Mandrill webhook",
        "description": "Accept callbacks from Mandrill webhook",
        "tags": [
          "mandrill"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "head": {
        "operationId": "ExistsMaileventMandrill",
        "summary": "Allows Mandrill to confirm that the endpoint exists",
        "description": "Allows Mandrill to confirm that the endpoint exists",
        "tags": [
          "mandrill"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Monolith.Campaign",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Monolith.Campaign)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "CreateMessage",
        "summary": "Create secure message.",
        "description": "Create secure message.",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListMessages",
        "summary": "Get secure messages for the specified filter.",
        "description": "Get secure messages for the specified filter.",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages/bulk": {
      "post": {
        "operationId": "CreateBulkMessage",
        "summary": "Creates a bulk message.",
        "description": "Creates a bulk message.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListBulkMessages",
        "summary": "Returns a list of bulk messages.",
        "description": "Returns a list of bulk messages.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages/bulk/{bulkId}": {
      "get": {
        "operationId": "GetBulkMessage",
        "summary": "Gets a bulk message by id.",
        "description": "Gets a bulk message by id.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "put": {
        "operationId": "UpdateBulkMessage",
        "summary": "Updates an existing bulk message.",
        "description": "Updates an existing bulk message.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages/bulk/{bulkId}/attachments": {
      "post": {
        "operationId": "CreateBulkMessageAttachment",
        "summary": "Creates a bulk message attachments.",
        "description": "Creates a bulk message attachments.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListBulkMessageAttachments",
        "summary": "Returns a list of attachments.",
        "description": "Returns a list of attachments.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages/bulk/{bulkId}/attachments/{attachmentId}": {
      "delete": {
        "operationId": "DeleteBulkMessageAttachment",
        "summary": "Deletes the bulk message attachment.",
        "description": "Deletes the bulk message attachment.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages/bulk/{bulkId}/recipients": {
      "post": {
        "operationId": "CreateBulkMessageRecipients",
        "summary": "Creates a list of bulk message recipients.",
        "description": "Creates a list of bulk message recipients.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "delete": {
        "operationId": "DeleteBulkMessageRecipients",
        "summary": "Deletes a list of bulk message recipients.",
        "description": "Deletes a list of bulk message recipients.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "ListBulkMessageRecipients",
        "summary": "Returns a list of bulk message recipients.",
        "description": "Returns a list of bulk message recipients.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages/bulk/{bulkId}/revoke": {
      "post": {
        "operationId": "RevokeBulkMessage",
        "summary": "Revokes a bulk message.",
        "description": "Revokes a bulk message.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages/bulk/{bulkId}/send": {
      "post": {
        "operationId": "SendBulk",
        "summary": "Starts the processing the bulk message.",
        "description": "Starts the processing the bulk message.",
        "tags": [
          "bulk"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
    "/v1/messages/unreadcount": {
      "head": {
        "operationId": "ExistsMessageUnreadcount",
        "summary": "Get the count of unread messages.",
        "description": "Get the count of unread messages.",
        "tags": [
          "unreadcount"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      },
      "get": {
        "operationId": "GetMessageUnreadcount",
        "summary": "Get the count of unread messages.",
        "description": "Get the count of unread messages.",
        "tags": [
          "unreadcount"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-intelliflo-api": {
          "service": "Microservice.SecureMessaging",
          "onDeveloperPortal": false,
          "source": "Service Swagger (Microservice.SecureMessaging)",
          "scopes": [],
          "swaggerVersion": "v1"
        }
      }
    },
[...]
